.container {
    max-width: 800px;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.jumbotron {
    padding: 1.5em 0em 0.7em 0em;
}

#tag-list {
    list-style: none;
    padding-left: 0;
}

#tag-list li {
    display: inline;
    list-style-type: none;
    padding-right: 12px;
}

#icon-list {
    list-style: none;
    padding-left: 0;
}

#icon-list li {
    display: inline;
    list-style-type: none;
    padding-right: 12px;
}

#project-icon-list {
    list-style: none;
    padding-left: 0;
}

#project-icon-list li {
    display: inline;
    list-style-type: none;
    padding-right: 12px;
}

.list-dot {
    padding-right: 10px;
}
